<div class="container dialyCharts" ng-init="initCharts()" ng-controller="dialyChartsCtrl" layout="column" >
	<md-menu md-position-mode="target-right target">
		<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button topRightButton optionsButton" aria-label="Options"></md-button>
		<md-menu-content width="4">
			<md-menu-item>
				<md-button>
					<div layout="row">
	                    <p flex ui-sref="app.dialyCharts">Gráfico diario</p>
                  	</div>
              	</md-button>
              	<md-button>
					<div layout="row">
	                    <p flex ui-sref="app.weeklyCharts">Gráfico semanal</p>
                  	</div>
              	</md-button>
				<md-button>
					<div layout="row">
	                    <p flex ui-sref="app.monthlyCharts">Gráfico mensual</p>
                  	</div>
              	</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu>

	<div flex class="chartDate layout-padding" layout="row" layout-wrap flex="auto">
		<div class="date" flex="70" layout-align="start center" layout="row">
			<span class="md-body-1">
				<a class="arrow prev" ng-show="showPrevArrow" ng-click="changeDate('prev')">prev</a>
				{{activeYear}} - {{activeMonth + 1}}
				<a class="arrow next" ng-show="showNextArrow" ng-click="changeDate('next')">next</a>
			</span>
		</div>
	</div>
	<div flex="auto" class="chart dialy">
		<div class="chartRow">
			<div class="ejeY">
				<span class="val" ng-repeat="val in ejeY track by $index">{{val}}</span>
			</div>
			<div class="columns">
				<div class="scroll">
					<div class="columnContainer" ng-style="{ 'width' : width}">
						<div class="column" ng-repeat="day in days" ng-show="day.num" id="day{{day.num}}" ng-click="myfunction($event)" ng-class="{ 'today' : day.isToday }" emitLastRepeaterElement>
							<span class="drunk" style="height: {{day.drunkHeight}}%;"></span>
							<span class="target" style="height: {{day.targetHeight}}%;"></span>
							<span class="name">{{day.num}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ejeX">
			
		</div>
	</div>

	<div class="referencias" flex="auto">
		<span class="consumido">Agua consumida</span>
		<span class="objetivo">Objetivo</span>
	</div>

</div>